
    {{>header}}
    <div class="content">
        <ul>
            <li>a begginer weather app created by: {{name}}</li>
            <li>made with node and express</li>
            <li>uses GeoCode and WeatherStack API's</li>
        </ul>
        <img src="imgs/49scojTD_400x400.jpg">
    </div>
    {{>footer}}
</body>
</html>